.field {
  width: 510px;
  height: 510px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto);
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: beige;
}

.black {
  background-color: #20232a;
}
